@model IEnumerable<Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>
<table border="1">
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            Email
        </th>
        <th>
            Actions
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var u in Model)
    {
        <tr>
            <td>
                @u.Nickname
            </td>
            <td>
                @u.Email
            </td>
            <td>
                @Html.ActionLink(linkText: "Details", actionName:"Details", routeValues: new {id=u.Id} )
                Edit - 
                @Ajax.ActionLink(linkText:"Delete", actionName:"Delete", controllerName:"User", routeValues: new {id = u.Id}, htmlAttributes: null,
                    ajaxOptions:new AjaxOptions {Confirm = "Are you sure you want to delete this entry?", HttpMethod = "DELETE"}
                )
            </td>
        </tr>
    }
    </tbody>
</table>
@Html.ActionLink("Add new user", "Create")
